* {
  &,
  &::before,
  &::after {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    color: inherit;
    cursor: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }

  & {
    scrollbar-color: var(--fill-neutral) var(--bg-neutral);
    scrollbar-width: thin;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
#drop-down,
#tooltip,
#modal,
#notification {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  user-select: none;

  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  & > * {
    pointer-events: all;
    user-select: all;
  }
}
#drop-down {
  z-index: 10;
}
#tooltip {
  z-index: 20;
}
#modal {
  z-index: 30;
}
#notification {
  z-index: 40;
}
