* {
  &,
  &::before,
  &::after {
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 0;
    box-sizing: border-box;
    color: inherit;
    cursor: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }

  & {
    scrollbar-color: var(--theme-primary) var(--theme-base);
    scrollbar-width: thin;
  }
}
