@use '$lib/shared/styles' as sb;

:root {
  font-size: 18px;
}

:root,
.theme-light {
  @include sb.generate-theme-properties(light);
}
.theme-dark {
  @include sb.generate-theme-properties(dark);
}

* {
  @include sb.normalize;
}

body {
  @include sb.color(background base bg, color base text);
  @include sb.flex;
  @include sb.font(family main, size md, weight md);
  line-height: 1.5;
  min-height: 100dvh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea {
  @include sb.size(
    padding-left space sm,
    padding-right space sm,
    padding-top space xs,
    padding-bottom space xs
  );

  &:focus {
    outline: none;
  }
}

input[type='password'] {
  letter-spacing: 0.25rem;

  &::-webkit-input-placeholder {
    letter-spacing: 0;
  }
}
